#heading {

    color: yellowgreen
}

#child {
    color: red
}

#container {
    color: red
}

#titlecontainer {
    color: yellowgreen
}

#inner {
    color: bisque
}

#h1 {
    color: blue;
    font-size: 24px;
    text-align: center;
  }
  
#h2 {
    color: green;
    font-size: 18px;
    text-align: center;
  }

#h3 {
    color: green;
    font-size: 18px;
    text-align: center;
  }
#h4{
  color: green;
  font-size: 18px;
  text-align: center;
}  


 

#headerpart {
   
    text-align: left;
  }
    
  
#left-aligned-log {
    text-align: left;
  } 


.search-container {
    text-align: center;
}

.user_icon {
    text-align: right;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}  

.search-button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}  

/* .img {
    max-width: 10%;
    height: auto;
    text-align: left;
} */

.shimmer-card {

    width: 200px;
    height: 400px;
    background-color: grey;
    margin: 20px;
}
 
.shimmer-container {

    display: flex;
    flex-wrap: wrap;
}

.login{
    margin: 10px;
    cursor: auto;
}
 
  